{
  "openapi": "3.1.0",
  "info": {
    "title": "Roulette API",
    "version": "1.0.0",
    "description": "The Roulette API provides programmatic access to manage your VC deal flow,\ncompanies, contacts, and related data.\n\n## Authentication\n\nAll API requests require authentication using a Bearer token. Include your API key\nin the `Authorization` header:\n\n```\nAuthorization: Bearer YOUR_API_KEY\n```\n\nYou can generate API keys from your account settings in the Roulette dashboard.\n\n## Rate Limiting\n\nAPI requests are rate limited to ensure fair usage. Current limits:\n- 1000 requests per minute per API key\n- 100 requests per second per API key\n\nRate limit headers are included in all responses:\n- `X-RateLimit-Limit`: Maximum requests per window\n- `X-RateLimit-Remaining`: Requests remaining in current window\n- `X-RateLimit-Reset`: Unix timestamp when the window resets\n\n## Pagination\n\nList endpoints support cursor-based pagination using the following query parameters:\n- `page`: Page number (default: 1)\n- `limit`: Items per page (default: 25, max: 100)\n\nPaginated responses include pagination metadata:\n```json\n{\n  \"data\": [...],\n  \"pagination\": {\n    \"page\": 1,\n    \"limit\": 25,\n    \"has_next\": true,\n    \"has_prev\": false\n  }\n}\n```\n\n**Note**: For performance reasons, total counts (`total`, `total_pages`) are not included.\nUse `has_next` and `has_prev` to determine if more pages exist.\n\n## Errors\n\nThe API uses standard HTTP status codes and returns errors in a consistent format:\n\n```json\n{\n  \"success\": false,\n  \"error\": \"Human readable error message\",\n  \"data\": null\n}\n```\n\nCommon status codes:\n- `400` Bad Request - Invalid parameters or request body\n- `401` Unauthorized - Missing or invalid API key\n- `403` Forbidden - Valid API key but insufficient permissions\n- `404` Not Found - Resource not found\n- `429` Too Many Requests - Rate limit exceeded\n- `500` Internal Server Error - Server-side error\n",
    "termsOfService": "https://www.useroulette.com/terms",
    "contact": {
      "name": "Roulette API Support",
      "email": "support@useroulette.com",
      "url": "https://www.useroulette.com/support"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://www.useroulette.com/license"
    }
  },
  "servers": [
    {
      "url": "https://www.useroulette.com/api/v1",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000/api/v1",
      "description": "Local development server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Companies",
      "description": "Manage companies in your deal flow pipeline. Companies represent potential\ninvestment opportunities with associated pitch decks, contacts, and metadata.\n"
    },
    {
      "name": "Company Statuses",
      "description": "Manage deal flow stages/statuses for organizing companies through your\ninvestment pipeline (e.g., \"Initial Review\", \"Due Diligence\", \"Closed\").\n"
    },
    {
      "name": "Company Settings",
      "description": "Configure custom fields and settings for company tracking.\n"
    },
    {
      "name": "Contacts",
      "description": "Manage contacts associated with companies, including founders, executives,\nand other key personnel.\n"
    },
    {
      "name": "Form Submissions",
      "description": "Access form submissions from integrated platforms like Tally.\n"
    },
    {
      "name": "Emails",
      "description": "Manage emails linked to companies and contacts.\n"
    },
    {
      "name": "Meeting Minutes",
      "description": "Store and retrieve meeting notes and minutes related to companies.\n"
    },
    {
      "name": "Shared Links",
      "description": "Create and manage secure shareable links for company portfolios.\n"
    },
    {
      "name": "Integrations",
      "description": "Configure third-party integrations (Tally, Specter, etc.).\n"
    },
    {
      "name": "Investor Dashboard",
      "description": "Configure and manage investor-facing portfolio dashboards.\n"
    },
    {
      "name": "Dashboard",
      "description": "Access aggregated dashboard data and analytics.\n"
    },
    {
      "name": "Team Members",
      "description": "View team members and their roles within your account.\n"
    },
    {
      "name": "Short URLs",
      "description": "Create shortened URLs with optional password protection.\n"
    }
  ],
  "paths": {
    "/companies": {
      "get": {
        "operationId": "listCompanies",
        "summary": "List companies",
        "description": "Retrieve a paginated list of companies in your deal flow pipeline.\nSupports filtering, sorting, and full-text search.\n\n**Note**: Pagination uses cursor-based `has_next`/`has_prev` for performance.\nTotal counts are not provided to optimize response times.\n",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SortByParam"
          },
          {
            "$ref": "#/components/parameters/SortOrderParam"
          },
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "name": "visibility",
            "in": "query",
            "required": false,
            "description": "Filter by visibility level",
            "schema": {
              "type": "string",
              "enum": [
                "private",
                "shared",
                "team"
              ]
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Filter by source",
            "schema": {
              "type": "string",
              "enum": [
                "manual",
                "email",
                "form",
                "referral",
                "website",
                "event",
                "other"
              ]
            }
          },
          {
            "name": "company_status_id",
            "in": "query",
            "required": false,
            "description": "Filter by status ID. Use 'no_status' for companies without a status.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_pdf_url",
            "in": "query",
            "required": false,
            "description": "Include signed download URLs for pitch deck PDFs",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyListResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "companies": [
                      {
                        "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "account_id": "11111111-2222-3333-4444-555555555555",
                        "name": "Acme Technologies",
                        "deck_link": "https://docsend.com/view/example123",
                        "visibility": "team",
                        "source": "form",
                        "company_status_id": null,
                        "notes": "Met at TechCrunch Disrupt 2024",
                        "created_at": "2024-01-15T10:30:00.000000+00:00",
                        "updated_at": "2024-01-15T12:45:00.000000+00:00",
                        "created_by": "user-uuid-1234",
                        "updated_by": "user-uuid-1234",
                        "assignees": [],
                        "company_status": null,
                        "metadata": {
                          "founders": [
                            {
                              "name": "Jane Smith",
                              "email": "jane@example.com",
                              "title": "CEO/Co-Founder",
                              "linkedin_profile": "https://www.linkedin.com/in/example/"
                            }
                          ],
                          "ai_analysis": "B2B SaaS platform for enterprise workflow automation...",
                          "analyzed_at": "2024-01-15T12:45:00.000Z",
                          "user_preferences": [
                            {
                              "type": "text",
                              "field": "Website",
                              "value": "https://example.com",
                              "options": [],
                              "show_in_table": true
                            }
                          ]
                        }
                      }
                    ],
                    "pagination": {
                      "page": 1,
                      "limit": 25,
                      "has_next": true,
                      "has_prev": false
                    }
                  },
                  "authType": "api_key"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/companies/upload/ai": {
      "post": {
        "operationId": "createCompanyWithAI",
        "summary": "Create company with AI processing",
        "description": "**The recommended way to create companies in Roulette.**\n\nThis intelligent endpoint accepts unstructured text (emails, notes, form data) and\nfile attachments, then uses AI to automatically:\n\n1. **Extract URLs** from text using regex (handles long signed URLs from DocSend, Tally, etc.)\n2. **Prioritize deck sources** by known platforms (DocSend, Papermark, Brieflink, Google Drive)\n3. **Select the best pitch deck** from URLs or files\n4. **Auto-detect company status** based on content context\n5. **Auto-detect source** (email, referral, form, etc.) from content\n6. **Upload remaining files** as attachments\n\n## How It Works\n\n### URL Priority (Highest → Lowest)\n1. DocSend links\n2. Papermark links\n3. Brieflink links\n4. Tally storage URLs\n5. Google Drive links\n6. Other URLs\n\n### File Processing Logic\n- **Single file**: Always treated as the pitch deck (regardless of type)\n- **Multiple files**: AI analyzes PDF content to select the best deck candidate\n- **Fallback**: First PDF file if AI can't determine\n\n### Context Analysis\nWhen text content is provided (>50 chars), the AI analyzes it to:\n- Detect appropriate pipeline status based on conversation context\n- Identify the source (email forward, referral mention, etc.)\n\n## Use Cases\n\n- **Email forwarding**: Paste the full email body + attachments\n- **Form submissions**: Send form data as text + any uploaded files\n- **Manual entry**: Provide company info + deck URL or file\n- **Bulk import**: Process founder outreach emails automatically\n",
        "tags": [
          "Companies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AiUploadRequest"
              },
              "examples": {
                "emailForward": {
                  "summary": "Forward a founder email",
                  "value": {
                    "text": "From: founder@startup.com\nSubject: Intro - TechCo Series A\n\nHi, I'm the founder of TechCo. We're building AI tools for developers.\nHere's our deck: https://docsend.com/view/abc123\n\nWe're currently raising a $5M Series A.\n",
                    "account_id": "550e8400-e29b-41d4-a716-446655440000"
                  }
                },
                "withFiles": {
                  "summary": "Upload with pitch deck file",
                  "value": {
                    "text": "Meeting notes from coffee chat with Jane from StartupXYZ",
                    "account_id": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "StartupXYZ",
                    "visibility": "team",
                    "file_0": "(binary)"
                  }
                },
                "simpleCreate": {
                  "summary": "Simple company with deck URL",
                  "value": {
                    "text": "https://pitch.com/public/startup-deck-abc123",
                    "account_id": "550e8400-e29b-41d4-a716-446655440000",
                    "name": "My Startup"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company created successfully with AI analysis",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiUploadResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "company": {
                      "id": "7c9e6679-7425-40de-944b-e07fc1f90ae7",
                      "account_id": "550e8400-e29b-41d4-a716-446655440000",
                      "name": "TechCo",
                      "visibility": "team",
                      "source": "email",
                      "company_status_id": "initial-review-uuid",
                      "notes": null,
                      "created_at": "2024-01-15T10:30:00Z",
                      "updated_at": "2024-01-15T10:30:00Z"
                    },
                    "pdfDownloadUrl": "https://storage.useroulette.com/signed-url...",
                    "attachments": [
                      {
                        "id": "attach-uuid-1",
                        "title": "Financial Model.xlsx",
                        "filePath": "companies/7c9e6679/attachments/financial-model.xlsx",
                        "attachmentType": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                      }
                    ],
                    "analysis": {
                      "detectedUrls": [
                        "https://docsend.com/view/abc123"
                      ],
                      "selectedDeckUrl": "https://docsend.com/view/abc123",
                      "aiReasoning": "Selected DocSend URL as primary deck source (high priority platform)",
                      "contextAnalysis": {
                        "statusDetected": true,
                        "statusReasoning": "Email mentions 'Series A raise' - assigned to fundraising stage",
                        "sourceDetected": true,
                        "sourceReasoning": "Content appears to be a forwarded email from founder"
                      },
                      "processedAt": "2024-01-15T10:30:00Z"
                    }
                  },
                  "authType": "api_key"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/companies/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get company details",
        "description": "Retrieve detailed information about a specific company.",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyIdParam"
          },
          {
            "name": "include_pdf_url",
            "in": "query",
            "required": false,
            "description": "Include signed download URL for pitch deck PDF",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "operationId": "updateCompany",
        "summary": "Update a company",
        "description": "Update company information. Only include fields you want to change.\n",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyUpdate"
              },
              "example": {
                "name": "Acme Corp (Updated)",
                "company_status_id": "status-uuid-here",
                "metadata": {
                  "user_preferences": [
                    {
                      "type": "select",
                      "field": "Industry",
                      "value": "AI/ML",
                      "options": [
                        "SaaS",
                        "Fintech",
                        "AI/ML",
                        "Developer Tools"
                      ],
                      "show_in_table": true
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteCompany",
        "summary": "Delete a company",
        "description": "Permanently delete a company and all associated data including\nattachments, notes, and shared access records.\n",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Company deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "Company deleted successfully"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/companies/{id}/analyze": {
      "post": {
        "operationId": "analyzeCompany",
        "summary": "Analyze pitch deck with AI",
        "description": "Use AI to analyze the company's pitch deck and extract structured data\nincluding company information, founder details, and key insights.\n\nThe analysis populates:\n- `metadata.founders` - Team member information\n- `metadata.ai_analysis` - Brief company description\n- `metadata.analyzed_at` - When analysis was performed\n- `metadata.user_preferences` - Extracted custom field values\n\n**Note**: This operation consumes AI credits.\n",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyIdParam"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "extraData": {
                    "type": "string",
                    "maxLength": 40000,
                    "description": "Additional text context to include in the analysis.\nCan contain supplementary information like email threads,\nmeeting notes, or other relevant content that helps the AI\nbetter understand the company.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Analysis completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyzeResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/companies/{id}/download": {
      "get": {
        "operationId": "downloadCompanyPdf",
        "summary": "Get pitch deck download URL",
        "description": "Generate a signed download URL for the company's pitch deck PDF.\nURLs are temporary and expire after the specified duration.\n",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyIdParam"
          },
          {
            "name": "expiry_minutes",
            "in": "query",
            "required": false,
            "description": "URL expiry time in minutes (default varies by plan)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1440
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Download URL generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "download_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "Signed URL for downloading the PDF"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time",
                          "description": "When the URL expires"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/companies/{id}/attachments": {
      "post": {
        "operationId": "uploadCompanyAttachment",
        "summary": "Upload company attachment",
        "description": "Upload additional documents/attachments to a company\n(financials, legal docs, etc.).\n",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/CompanyIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file",
                  "title",
                  "account_id"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload"
                  },
                  "title": {
                    "type": "string",
                    "description": "Attachment title"
                  },
                  "description": {
                    "type": "string",
                    "description": "Optional description"
                  },
                  "account_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attachment uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "attachment": {
                          "$ref": "#/components/schemas/CompanyAttachment"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/accounts/{account_id}/company-statuses": {
      "get": {
        "operationId": "listCompanyStatuses",
        "summary": "List company statuses",
        "description": "Retrieve all deal flow statuses/stages for an account.\nResults are ordered by rank (pipeline order), then by creation date.\n",
        "tags": [
          "Company Statuses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of company statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyStatusListResponse"
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "uuid-1",
                      "account_id": "account-uuid",
                      "name": "Initial Review",
                      "color": "#6B7280",
                      "rank": 1,
                      "is_default": true,
                      "created_at": "2024-01-01T00:00:00Z"
                    },
                    {
                      "id": "uuid-2",
                      "account_id": "account-uuid",
                      "name": "Due Diligence",
                      "color": "#3B82F6",
                      "rank": 2,
                      "is_default": false,
                      "created_at": "2024-01-01T00:00:00Z"
                    },
                    {
                      "id": "uuid-3",
                      "account_id": "account-uuid",
                      "name": "Partner Meeting",
                      "color": "#8B5CF6",
                      "rank": 3,
                      "is_default": false,
                      "created_at": "2024-01-01T00:00:00Z"
                    },
                    {
                      "id": "uuid-4",
                      "account_id": "account-uuid",
                      "name": "Term Sheet",
                      "color": "#10B981",
                      "rank": 4,
                      "is_default": false,
                      "created_at": "2024-01-01T00:00:00Z"
                    },
                    {
                      "id": "uuid-5",
                      "account_id": "account-uuid",
                      "name": "Passed",
                      "color": "#EF4444",
                      "rank": 5,
                      "is_default": false,
                      "created_at": "2024-01-01T00:00:00Z"
                    }
                  ],
                  "authType": "api_key"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "operationId": "createCompanyStatus",
        "summary": "Create a company status",
        "description": "Create a new deal flow status/stage. If rank is not provided,\nthe status is added at the end of the pipeline.\n",
        "tags": [
          "Company Statuses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyStatusCreate"
              },
              "example": {
                "name": "IC Review",
                "color": "#F59E0B",
                "description": "Awaiting Investment Committee review"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CompanyStatus"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/accounts/{account_id}/company-statuses/{status_id}": {
      "patch": {
        "operationId": "updateCompanyStatus",
        "summary": "Update a company status",
        "description": "Update the name, color, rank, or other properties of a status.",
        "tags": [
          "Company Statuses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyStatusUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/CompanyStatus"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "operationId": "deleteCompanyStatus",
        "summary": "Delete a company status",
        "description": "Delete a deal flow status. Companies with this status will have\ntheir status set to null.\n",
        "tags": [
          "Company Statuses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/accounts/{account_id}/company-status-counts": {
      "get": {
        "operationId": "getCompanyStatusCounts",
        "summary": "Get company counts by status",
        "description": "Retrieve pre-computed counts of companies grouped by their deal flow status.\nUseful for dashboard displays and pipeline visualization.\n",
        "tags": [
          "Company Statuses"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Status counts retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyStatusCountsResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "total": 150,
                    "no_status": 12,
                    "statuses": [
                      {
                        "status_id": "uuid-1",
                        "status_name": "Initial Review",
                        "count": 45
                      },
                      {
                        "status_id": "uuid-2",
                        "status_name": "Due Diligence",
                        "count": 23
                      },
                      {
                        "status_id": "uuid-3",
                        "status_name": "Partner Meeting",
                        "count": 15
                      },
                      {
                        "status_id": "uuid-4",
                        "status_name": "Term Sheet",
                        "count": 8
                      },
                      {
                        "status_id": "uuid-5",
                        "status_name": "Passed",
                        "count": 47
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/accounts/{account_id}/company-settings": {
      "get": {
        "operationId": "getCompanySettings",
        "summary": "Get company field settings",
        "description": "Retrieve custom field configurations for companies in this account.\nThese define additional metadata fields that can be tracked.\n",
        "tags": [
          "Company Settings"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Company settings retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "fields": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string"
                              },
                              "field_type": {
                                "type": "string",
                                "enum": [
                                  "text",
                                  "number",
                                  "boolean",
                                  "select",
                                  "date",
                                  "url"
                                ]
                              },
                              "options": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "For select fields, the available options"
                              },
                              "required": {
                                "type": "boolean"
                              },
                              "order": {
                                "type": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/accounts/{account_id}/dashboard": {
      "get": {
        "operationId": "getDashboard",
        "summary": "Get dashboard data",
        "description": "Retrieve aggregated dashboard data including statistics,\npipeline summary, recent activity, and charts.\n\nThis endpoint is optimized for performance and returns\npre-computed metrics where possible.\n",
        "tags": [
          "Dashboard"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "name": "activity_limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of recent activity items to return",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          },
          {
            "name": "chart_days",
            "in": "query",
            "required": false,
            "description": "Number of days to include in chart data",
            "schema": {
              "type": "integer",
              "minimum": 7,
              "maximum": 365,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "stats": {
                      "total_companies": 150,
                      "companies_this_month": 12,
                      "active_deals": 45,
                      "meetings_this_week": 8
                    },
                    "pipeline_summary": [
                      {
                        "status_id": "uuid-1",
                        "status_name": "Initial Review",
                        "color": "#6B7280",
                        "count": 45
                      },
                      {
                        "status_id": "uuid-2",
                        "status_name": "Due Diligence",
                        "color": "#3B82F6",
                        "count": 23
                      },
                      {
                        "status_id": "uuid-3",
                        "status_name": "Partner Meeting",
                        "color": "#8B5CF6",
                        "count": 15
                      }
                    ],
                    "recent_activity": [
                      {
                        "id": "activity-1",
                        "type": "company_added",
                        "description": "TechStartup Inc was added to pipeline",
                        "company_id": "company-uuid",
                        "company_name": "TechStartup Inc",
                        "created_at": "2024-01-20T14:30:00Z"
                      },
                      {
                        "id": "activity-2",
                        "type": "status_changed",
                        "description": "AI Platform moved to Due Diligence",
                        "company_id": "company-uuid-2",
                        "company_name": "AI Platform",
                        "created_at": "2024-01-20T10:15:00Z"
                      }
                    ],
                    "charts": {
                      "companies_over_time": [
                        {
                          "date": "2024-01-20",
                          "count": 3
                        },
                        {
                          "date": "2024-01-19",
                          "count": 5
                        },
                        {
                          "date": "2024-01-18",
                          "count": 2
                        }
                      ],
                      "source_breakdown": [
                        {
                          "source": "email",
                          "count": 45
                        },
                        {
                          "source": "referral",
                          "count": 38
                        },
                        {
                          "source": "form",
                          "count": 25
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/accounts/{account_id}/members": {
      "get": {
        "operationId": "listMembers",
        "summary": "List team members",
        "description": "Retrieve all members and pending invitations for the account/team.\n",
        "tags": [
          "Team Members"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Team members and invitations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembersResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "members": [
                      {
                        "id": "membership-uuid-1",
                        "user_id": "user-uuid-1",
                        "account_id": "account-uuid",
                        "role": "owner",
                        "name": "John Doe",
                        "email": "john@example.com",
                        "picture_url": "https://example.com/avatars/john.jpg",
                        "created_at": "2023-06-01T00:00:00Z"
                      },
                      {
                        "id": "membership-uuid-2",
                        "user_id": "user-uuid-2",
                        "account_id": "account-uuid",
                        "role": "admin",
                        "name": "Jane Smith",
                        "email": "jane@example.com",
                        "picture_url": null,
                        "created_at": "2023-08-15T00:00:00Z"
                      }
                    ],
                    "invitations": [
                      {
                        "id": "invite-uuid-1",
                        "account_id": "account-uuid",
                        "email": "newmember@example.com",
                        "role": "member",
                        "invited_by": "user-uuid-1",
                        "expires_at": "2024-02-01T00:00:00Z",
                        "created_at": "2024-01-15T00:00:00Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/accounts/{account_id}/ai-credits/checkout": {
      "post": {
        "operationId": "createAiCreditsCheckout",
        "summary": "Purchase AI credits",
        "description": "Create a checkout session to purchase additional AI credits\nfor features like pitch deck analysis and email processing.\n",
        "tags": [
          "Dashboard"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "credits_package"
                ],
                "properties": {
                  "credits_package": {
                    "type": "string",
                    "enum": [
                      "starter",
                      "professional",
                      "enterprise"
                    ],
                    "description": "Credit package to purchase:\n- `starter`: 100 credits\n- `professional`: 500 credits\n- `enterprise`: 2000 credits\n"
                  },
                  "success_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to redirect after successful payment"
                  },
                  "cancel_url": {
                    "type": "string",
                    "format": "uri",
                    "description": "URL to redirect if payment is cancelled"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "checkout_url": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL to redirect user to for payment"
                        },
                        "session_id": {
                          "type": "string",
                          "description": "Stripe checkout session ID"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/accounts/{account_id}/emails": {
      "get": {
        "operationId": "listEmails",
        "summary": "List emails",
        "description": "Retrieve paginated emails associated with your account.\nEmail content is excluded from list queries for performance;\nuse the single email endpoint to get full content.\n",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SortOrderParam"
          },
          {
            "$ref": "#/components/parameters/SearchParam"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "updated_at"
              ],
              "default": "created_at"
            }
          },
          {
            "name": "from_email",
            "in": "query",
            "required": false,
            "description": "Filter by sender email address",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "required": false,
            "description": "Filter emails linked to a specific company",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "processed",
            "in": "query",
            "required": false,
            "description": "Filter by processed status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "description": "Filter by tag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of emails",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailListResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "emails": [
                      {
                        "id": "email-uuid-1",
                        "account_id": "account-uuid",
                        "from_email": "founder@startup.com",
                        "subject": "Investment Opportunity - AI Platform",
                        "content_preview": "Hi, I wanted to reach out about our Series A...",
                        "tags": [
                          "warm-intro"
                        ],
                        "processed": false,
                        "attachments_count": 1,
                        "created_at": "2024-01-15T10:30:00Z"
                      }
                    ],
                    "pagination": {
                      "page": 1,
                      "limit": 20,
                      "total": 150,
                      "total_pages": 8
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "operationId": "createEmail",
        "summary": "Create an email record",
        "description": "Manually create an email record. Useful for importing emails\nfrom external sources or syncing from email integrations.\n",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailCreate"
              },
              "example": {
                "from_email": "founder@newstartup.com",
                "subject": "Introduction - NewStartup seeking Series A",
                "content": "Hi,\n\nI'm the founder of NewStartup, and I wanted to reach out...",
                "company_ids": [
                  "company-uuid-1"
                ],
                "tags": [
                  "inbound",
                  "series-a"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "$ref": "#/components/schemas/Email"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/accounts/{account_id}/emails/{email_id}": {
      "get": {
        "operationId": "getEmail",
        "summary": "Get email details",
        "description": "Retrieve a specific email with full content and attachments.\n",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email details with full content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "$ref": "#/components/schemas/EmailDetail"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "operationId": "updateEmail",
        "summary": "Update an email",
        "description": "Update email properties like tags, processed status, or linked companies.\n",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "processed": {
                    "type": "boolean"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "$ref": "#/components/schemas/Email"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "operationId": "deleteEmail",
        "summary": "Delete an email",
        "description": "Permanently delete an email and its attachments.",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Email deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/accounts/{account_id}/emails/{email_id}/attachments": {
      "get": {
        "operationId": "listEmailAttachments",
        "summary": "List email attachments",
        "description": "Get all attachments for an email with download URLs.",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of attachments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "attachments": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/EmailAttachment"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/accounts/{account_id}/emails/tags": {
      "get": {
        "operationId": "listEmailTags",
        "summary": "List available email tags",
        "description": "Get all tags used in emails for this account, with usage counts.\n",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tags",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailTagsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/emails/{email_id}/analyze": {
      "post": {
        "operationId": "analyzeEmail",
        "summary": "Analyze email with AI",
        "description": "Use AI to analyze email content and extract structured information\nsuch as company details, contact info, and intent classification.\n\n**Note**: This operation consumes AI credits.\n",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Analysis completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "intent": {
                          "type": "string",
                          "enum": [
                            "pitch",
                            "intro_request",
                            "follow_up",
                            "meeting_request",
                            "other"
                          ]
                        },
                        "company_info": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "website": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            }
                          }
                        },
                        "contact_info": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            }
                          }
                        },
                        "suggested_actions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "confidence": {
                          "type": "number",
                          "format": "float"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/emails/{email_id}/companies": {
      "post": {
        "operationId": "linkEmailToCompanies",
        "summary": "Link email to companies",
        "description": "Associate an email with one or more companies.",
        "tags": [
          "Emails"
        ],
        "parameters": [
          {
            "name": "email_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "company_ids"
                ],
                "properties": {
                  "company_ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "minItems": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email linked to companies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "$ref": "#/components/schemas/Email"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/accounts/{account_id}/form-submissions": {
      "get": {
        "operationId": "listFormSubmissions",
        "summary": "List form submissions",
        "description": "Retrieve paginated form submissions from integrated platforms\n(Tally, Specter, etc.) or manually created submissions.\n",
        "tags": [
          "Form Submissions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "$ref": "#/components/parameters/PageParam"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/SortOrderParam"
          },
          {
            "name": "sort_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "updated_at"
              ],
              "default": "created_at"
            }
          },
          {
            "name": "company_id",
            "in": "query",
            "required": false,
            "description": "Filter submissions linked to a specific company",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "processed",
            "in": "query",
            "required": false,
            "description": "Filter by processed status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "integration_type",
            "in": "query",
            "required": false,
            "description": "Filter by source integration",
            "schema": {
              "type": "string",
              "enum": [
                "tally",
                "specter",
                "manual"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of form submissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormSubmissionListResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "submissions": [
                      {
                        "id": "sub-uuid-1",
                        "account_id": "account-uuid",
                        "integration_type": "tally",
                        "data": [
                          {
                            "key": "company_name",
                            "label": "Company Name",
                            "type": "INPUT_TEXT",
                            "value": "TechStartup Inc"
                          },
                          {
                            "key": "email",
                            "label": "Email",
                            "type": "INPUT_EMAIL",
                            "value": "founder@techstartup.com"
                          }
                        ],
                        "processed": false,
                        "created_at": "2024-01-15T10:30:00Z"
                      }
                    ],
                    "pagination": {
                      "page": 1,
                      "limit": 10,
                      "total": 25,
                      "total_pages": 3
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "operationId": "createFormSubmission",
        "summary": "Create a form submission",
        "description": "Manually create a form submission record. Useful for importing\ndata from external sources or creating test data.\n",
        "tags": [
          "Form Submissions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormSubmissionCreate"
              },
              "example": {
                "data": [
                  {
                    "key": "company_name",
                    "label": "Company Name",
                    "type": "INPUT_TEXT",
                    "value": "New Venture Co"
                  },
                  {
                    "key": "website",
                    "label": "Website",
                    "type": "INPUT_LINK",
                    "value": "https://newventure.co"
                  },
                  {
                    "key": "pitch_deck",
                    "label": "Pitch Deck",
                    "type": "FILE_UPLOAD",
                    "value": [
                      {
                        "id": "file-1",
                        "name": "pitch.pdf",
                        "url": "https://storage.example.com/pitch.pdf",
                        "size": 2048000
                      }
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "submission": {
                          "$ref": "#/components/schemas/FormSubmission"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/accounts/{account_id}/form-submissions/{submission_id}": {
      "get": {
        "operationId": "getFormSubmission",
        "summary": "Get form submission details",
        "description": "Retrieve a specific form submission with all field data.",
        "tags": [
          "Form Submissions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Submission details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "submission": {
                          "$ref": "#/components/schemas/FormSubmission"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "operationId": "updateFormSubmission",
        "summary": "Update a form submission",
        "description": "Update a form submission. Commonly used to mark as processed\nor link to a company.\n",
        "tags": [
          "Form Submissions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_id": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  },
                  "processed": {
                    "type": "boolean"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "submission": {
                          "$ref": "#/components/schemas/FormSubmission"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "operationId": "deleteFormSubmission",
        "summary": "Delete a form submission",
        "description": "Permanently delete a form submission.",
        "tags": [
          "Form Submissions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Submission deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/accounts/{account_id}/form-submissions/{submission_id}/convert": {
      "post": {
        "operationId": "convertFormSubmissionToCompany",
        "summary": "Convert submission to company",
        "description": "Create a new company from a form submission, automatically\nmapping form fields to company properties.\n",
        "tags": [
          "Form Submissions"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "field_mapping": {
                    "type": "object",
                    "description": "Custom field mapping (form field key -> company field)",
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "company_status_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Initial status for the new company"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Company created from submission",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "company": {
                          "$ref": "#/components/schemas/Company"
                        },
                        "submission": {
                          "$ref": "#/components/schemas/FormSubmission"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/accounts/{account_id}/integrations": {
      "get": {
        "operationId": "listIntegrations",
        "summary": "List integrations",
        "description": "Retrieve all configured integrations for an account.\nIntegration secrets/keys are never returned in responses.\n",
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of integrations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationListResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "integrations": [
                      {
                        "id": "int-uuid-1",
                        "account_id": "account-uuid",
                        "integration_type": "tally",
                        "is_active": true,
                        "has_auth": true,
                        "last_sync_at": "2024-01-20T10:00:00Z",
                        "created_at": "2024-01-01T00:00:00Z"
                      },
                      {
                        "id": "int-uuid-2",
                        "account_id": "account-uuid",
                        "integration_type": "specter",
                        "is_active": false,
                        "has_auth": true,
                        "last_sync_at": null,
                        "created_at": "2024-01-05T00:00:00Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "post": {
        "operationId": "createIntegration",
        "summary": "Create or update an integration",
        "description": "Configure a new integration or update an existing one.\nIf an integration of the specified type already exists, it will be updated.\n\n## Tally Integration\n\nTally forms can send webhooks to Roulette when submissions are received.\nProvide the signing secret from your Tally webhook settings.\n\nWebhook URL: `https://www.useroulette.com/api/v1/accounts/{account_id}/form-submissions/tally`\n\n## Specter Integration\n\nConnect to Specter for additional data enrichment.\nProvide your Specter API key.\n",
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationCreate"
              },
              "examples": {
                "tally": {
                  "summary": "Configure Tally integration",
                  "value": {
                    "integration_type": "tally",
                    "secret": "whsec_your_tally_signing_secret"
                  }
                },
                "specter": {
                  "summary": "Configure Specter integration",
                  "value": {
                    "integration_type": "specter",
                    "api_key": "sk_your_specter_api_key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration configured",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "integration": {
                          "$ref": "#/components/schemas/Integration"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/accounts/{account_id}/integrations/{integration_id}": {
      "get": {
        "operationId": "getIntegration",
        "summary": "Get integration details",
        "description": "Retrieve details about a specific integration.\nSecrets/keys are never returned.\n",
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "integration": {
                          "$ref": "#/components/schemas/Integration"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "patch": {
        "operationId": "updateIntegration",
        "summary": "Update an integration",
        "description": "Update integration settings including credentials and active status.\n",
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntegrationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Integration updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "integration": {
                          "$ref": "#/components/schemas/Integration"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      },
      "delete": {
        "operationId": "deleteIntegration",
        "summary": "Delete an integration",
        "description": "Remove an integration and its stored credentials.\nThis will stop any webhooks or data syncing from this integration.\n",
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Integration deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/accounts/{account_id}/integrations/{integration_id}/test": {
      "post": {
        "operationId": "testIntegration",
        "summary": "Test integration connection",
        "description": "Test that the integration is properly configured and can connect\nto the external service.\n",
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          },
          {
            "name": "integration_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection test result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "connected": {
                          "type": "boolean",
                          "description": "Whether the connection was successful"
                        },
                        "message": {
                          "type": "string",
                          "description": "Status message or error details"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "connected": true,
                    "message": "Successfully connected to Specter API"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/accounts/{account_id}/investor-dashboard": {
      "get": {
        "operationId": "getInvestorDashboard",
        "summary": "Get investor dashboard",
        "description": "Retrieve the investor dashboard configuration for an account.\nThe investor dashboard is a public-facing page that can be shared\nwith LPs to show portfolio performance and updates.\n",
        "tags": [
          "Investor Dashboard"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Investor dashboard details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "dashboard": {
                          "$ref": "#/components/schemas/InvestorDashboard"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "dashboard": {
                      "id": "dash-uuid",
                      "account_id": "account-uuid",
                      "is_active": true,
                      "password_protected": true,
                      "short_code": "inv-abc123",
                      "dashboard_url": "https://www.useroulette.com/investor/inv-abc123",
                      "shared_permissions": [
                        "view_portfolio",
                        "view_metrics"
                      ],
                      "access_count": 156,
                      "last_accessed_at": "2024-01-20T14:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "No investor dashboard configured",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "dashboard": {
                          "type": "null"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createInvestorDashboard",
        "summary": "Create investor dashboard",
        "description": "Create an investor dashboard for the account. Only one dashboard\ncan exist per account.\n",
        "tags": [
          "Investor Dashboard"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountIdParam"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvestorDashboardCreate"
              },
              "example": {
                "password": "lp-access-2024",
                "shared_permissions": [
                  "view_portfolio",
                  "view_metrics",
                  "view_updates"
                ],
                "is_active": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dashboard created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "dashboard": {
                          "$ref": "#/components/schemas/InvestorDashboard"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
[...]
