openapi: 3.1.0
info:
  title: Roulette API
  version: 1.0.0
  description: |
    The Roulette API provides programmatic access to manage your VC deal flow,
    companies, contacts, and related data.

    ## Authentication

    All API requests require authentication using a Bearer token. Include your API key
    in the `Authorization` header:

    ```
    Authorization: Bearer YOUR_API_KEY
    ```

    You can generate API keys from your account settings in the Roulette dashboard.

    ## Rate Limiting

    API requests are rate limited to ensure fair usage. Current limits:
    - 1000 requests per minute per API key
    - 100 requests per second per API key

    Rate limit headers are included in all responses:
    - `X-RateLimit-Limit`: Maximum requests per window
    - `X-RateLimit-Remaining`: Requests remaining in current window
    - `X-RateLimit-Reset`: Unix timestamp when the window resets

    ## Pagination

    List endpoints support pagination using the following query parameters:
    - `page`: Page number (default: 1)
    - `limit`: Items per page (default: 20, max: 100)

    Paginated responses include pagination metadata:
    ```json
    {
      "data": [...],
      "pagination": {
        "page": 1,
        "limit": 20,
        "total": 150,
        "total_pages": 8,
        "has_next": true,
        "has_prev": false
      }
    }
    ```

    ## Errors

    The API uses standard HTTP status codes and returns errors in a consistent format:

    ```json
    {
      "success": false,
      "error": "Human readable error message",
      "data": null
    }
    ```

    Common status codes:
    - `400` Bad Request - Invalid parameters or request body
    - `401` Unauthorized - Missing or invalid API key
    - `403` Forbidden - Valid API key but insufficient permissions
    - `404` Not Found - Resource not found
    - `429` Too Many Requests - Rate limit exceeded
    - `500` Internal Server Error - Server-side error
  termsOfService: https://useroulette.com/terms
  contact:
    name: Roulette API Support
    email: support@useroulette.com
    url: https://useroulette.com/support
  license:
    name: Proprietary
    url: https://useroulette.com/license
servers:
  - url: https://app.useroulette.com/api/v1
    description: Production server
  - url: http://localhost:3000/api/v1
    description: Local development server
security:
  - BearerAuth: []
tags:
  - name: Companies
    description: |
      Manage companies in your deal flow pipeline. Companies represent potential
      investment opportunities with associated pitch decks, contacts, and metadata.
  - name: Company Statuses
    description: |
      Manage deal flow stages/statuses for organizing companies through your
      investment pipeline (e.g., "Initial Review", "Due Diligence", "Closed").
  - name: Company Settings
    description: |
      Configure custom fields and settings for company tracking.
  - name: Contacts
    description: |
      Manage contacts associated with companies, including founders, executives,
      and other key personnel.
  - name: Form Submissions
    description: |
      Access form submissions from integrated platforms like Tally.
  - name: Emails
    description: |
      Manage emails linked to companies and contacts.
  - name: Meeting Minutes
    description: |
      Store and retrieve meeting notes and minutes related to companies.
  - name: Shared Links
    description: |
      Create and manage secure shareable links for company portfolios.
  - name: Integrations
    description: |
      Configure third-party integrations (Tally, Specter, etc.).
  - name: Investor Dashboard
    description: |
      Configure and manage investor-facing portfolio dashboards.
  - name: Dashboard
    description: |
      Access aggregated dashboard data and analytics.
  - name: Team Members
    description: |
      View team members and their roles within your account.
  - name: Short URLs
    description: |
      Create shortened URLs with optional password protection.
paths:
  /companies:
    get:
      operationId: listCompanies
      summary: List companies
      description: |
        Retrieve a paginated list of companies in your deal flow pipeline.
        Supports filtering, sorting, and full-text search.
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortByParam'
        - $ref: '#/components/parameters/SortOrderParam'
        - $ref: '#/components/parameters/SearchParam'
        - name: visibility
          in: query
          required: false
          description: Filter by visibility level
          schema:
            type: string
            enum:
              - private
              - shared
              - team
        - name: source
          in: query
          required: false
          description: Filter by source
          schema:
            type: string
            enum:
              - manual
              - email
              - form
              - referral
              - website
              - event
              - other
        - name: company_status_id
          in: query
          required: false
          description: Filter by status ID. Use 'no_status' for companies without a status.
          schema:
            type: string
        - name: include_pdf_url
          in: query
          required: false
          description: Include signed download URLs for pitch deck PDFs
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyListResponse'
              example:
                success: true
                data:
                  companies:
                    - id: 7c9e6679-7425-40de-944b-e07fc1f90ae7
                      account_id: 550e8400-e29b-41d4-a716-446655440000
                      name: Acme Corp
                      website: https://acme.com
                      description: AI-powered automation platform
                      visibility: team
                      source: email
                      created_at: '2024-01-15T10:30:00Z'
                      updated_at: '2024-01-20T14:45:00Z'
                  pagination:
                    page: 1
                    limit: 20
                    total: 45
                    total_pages: 3
                    has_next: true
                    has_prev: false
                authType: api_key
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: createCompany
      summary: Create a company
      description: |
        Create a new company in your deal flow pipeline.
      tags:
        - Companies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyCreate'
            example:
              account_id: 550e8400-e29b-41d4-a716-446655440000
              name: TechStartup Inc
              website: https://techstartup.io
              description: Next-gen developer tools
              visibility: team
              source: referral
              metadata:
                industry: Developer Tools
                stage: Seed
      responses:
        '200':
          description: Company created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /companies/{id}:
    get:
      operationId: getCompany
      summary: Get company details
      description: Retrieve detailed information about a specific company.
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/CompanyIdParam'
        - name: include_pdf_url
          in: query
          required: false
          description: Include signed download URL for pitch deck PDF
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: updateCompany
      summary: Update a company
      description: |
        Update company information. Only include fields you want to change.
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/CompanyIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyUpdate'
            example:
              name: Acme Corp (Updated)
              company_status_id: status-uuid-here
              metadata:
                stage: Series A
      responses:
        '200':
          description: Company updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteCompany
      summary: Delete a company
      description: |
        Permanently delete a company and all associated data including
        attachments, notes, and shared access records.
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/CompanyIdParam'
      responses:
        '200':
          description: Company deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Company deleted successfully
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /companies/upload:
    post:
      operationId: uploadCompany
      summary: Upload company with pitch deck
      description: |
        Create or update a company by uploading a pitch deck PDF or providing
        a URL to an existing deck. The system will process and store the document.

        **File Upload**: Use `multipart/form-data` with a `file` field.

        **URL Upload**: Use `application/json` with a `url` field.
      tags:
        - Companies
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF file to upload
                company_data:
                  type: string
                  description: JSON-encoded company data
                company_id:
                  type: string
                  format: uuid
                  description: Existing company ID to update (optional)
          application/json:
            schema:
              type: object
              required:
                - url
                - company_data
              properties:
                url:
                  type: string
                  format: uri
                  description: URL to fetch the deck from (DocSend, Google Drive, etc.)
                email:
                  type: string
                  format: email
                  description: Email for password-protected links
                passcode:
                  type: string
                  description: Passcode for protected links
                company_data:
                  type: object
                  description: Company data to create/update
                company_id:
                  type: string
                  format: uuid
                  description: Existing company ID to update
      responses:
        '200':
          description: Company created/updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /companies/{id}/analyze:
    post:
      operationId: analyzeCompany
      summary: Analyze pitch deck with AI
      description: |
        Use AI to analyze the company's pitch deck and extract structured data
        including company information, team details, funding, and key insights.

        **Note**: This operation consumes AI credits.
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/CompanyIdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                extraData:
                  type: object
                  description: Additional context to include in the analysis
      responses:
        '200':
          description: Analysis completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /companies/{id}/download:
    get:
      operationId: downloadCompanyPdf
      summary: Get pitch deck download URL
      description: |
        Generate a signed download URL for the company's pitch deck PDF.
        URLs are temporary and expire after the specified duration.
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/CompanyIdParam'
        - name: expiry_minutes
          in: query
          required: false
          description: URL expiry time in minutes (default varies by plan)
          schema:
            type: integer
            minimum: 1
            maximum: 1440
      responses:
        '200':
          description: Download URL generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      download_url:
                        type: string
                        format: uri
                        description: Signed URL for downloading the PDF
                      expires_at:
                        type: string
                        format: date-time
                        description: When the URL expires
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /companies/bulk-actions:
    post:
      operationId: bulkCompanyActions
      summary: Perform bulk actions on companies
      description: |
        Perform bulk operations on multiple companies at once.
        Supported actions:
        - `update_status`: Update the deal flow status
        - `update_source`: Update the source
        - `delete`: Delete multiple companies
      tags:
        - Companies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkActionRequest'
            examples:
              updateStatus:
                summary: Update status for multiple companies
                value:
                  company_ids:
                    - uuid-1
                    - uuid-2
                  action: update_status
                  company_status_id: status-uuid
              deleteCompanies:
                summary: Delete multiple companies
                value:
                  company_ids:
                    - uuid-1
                    - uuid-2
                  action: delete
      responses:
        '200':
          description: Bulk action completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkActionResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /companies/duplicates:
    get:
      operationId: detectDuplicates
      summary: Detect duplicate companies
      description: |
        Analyze your company database and identify potential duplicates
        based on name similarity and other factors.
      tags:
        - Companies
      parameters:
        - name: threshold
          in: query
          required: false
          description: Similarity threshold (0-1). Higher = stricter matching.
          schema:
            type: number
            format: float
            minimum: 0.5
            maximum: 1
            default: 0.8
      responses:
        '200':
          description: Duplicates detected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicatesResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: mergeDuplicates
      summary: Merge duplicate companies
      description: |
        Merge multiple duplicate companies into one. The kept company will
        inherit contacts, notes, and other associated data from merged companies.
      tags:
        - Companies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeDuplicatesRequest'
      responses:
        '200':
          description: Companies merged successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      kept_company:
                        $ref: '#/components/schemas/Company'
                      deleted_count:
                        type: integer
                      message:
                        type: string
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /companies/{id}/shares:
    get:
      operationId: listCompanyShares
      summary: List company shares
      description: |
        Get the list of users who have access to a shared company.
        Only applicable for companies with `visibility: shared`.
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/CompanyIdParam'
      responses:
        '200':
          description: List of shares
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      shares:
                        type: array
                        items:
                          $ref: '#/components/schemas/CompanySharedAccess'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    post:
      operationId: addCompanyShare
      summary: Share company with user
      description: |
        Grant a user access to a company. The company must have
        `visibility: shared` for this to work.
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/CompanyIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
              properties:
                user_id:
                  type: string
                  format: uuid
                  description: User ID to share with
      responses:
        '200':
          description: Share added
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      share:
                        $ref: '#/components/schemas/CompanySharedAccess'
                      message:
                        type: string
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      operationId: removeCompanyShare
      summary: Remove company share
      description: Revoke a user's access to a shared company.
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/CompanyIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
              properties:
                user_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Share removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      message:
                        type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /companies/{id}/attachments:
    post:
      operationId: uploadCompanyAttachment
      summary: Upload company attachment
      description: |
        Upload additional documents/attachments to a company
        (financials, legal docs, etc.).
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/CompanyIdParam'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
                - title
                - account_id
              properties:
                file:
                  type: string
                  format: binary
                  description: File to upload
                title:
                  type: string
                  description: Attachment title
                description:
                  type: string
                  description: Optional description
                account_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Attachment uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      attachment:
                        $ref: '#/components/schemas/CompanyAttachment'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /companies/{id}/enrich:
    post:
      operationId: enrichCompany
      summary: Enrich company data
      description: |
        Use external data sources to enrich company information
        (firmographics, funding history, news, etc.).

        **Note**: This operation may consume enrichment credits.
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/CompanyIdParam'
      responses:
        '200':
          description: Enrichment completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      company:
                        $ref: '#/components/schemas/Company'
                      enrichment_data:
                        type: object
                        description: Additional data from enrichment
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /accounts/{account_id}/company-statuses:
    get:
      operationId: listCompanyStatuses
      summary: List company statuses
      description: |
        Retrieve all deal flow statuses/stages for an account.
        Results are ordered by rank (pipeline order), then by creation date.
      tags:
        - Company Statuses
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: List of company statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyStatusListResponse'
              example:
                success: true
                data:
                  - id: uuid-1
                    account_id: account-uuid
                    name: Initial Review
                    color: '#6B7280'
                    rank: 1
                    is_default: true
                    created_at: '2024-01-01T00:00:00Z'
                  - id: uuid-2
                    account_id: account-uuid
                    name: Due Diligence
                    color: '#3B82F6'
                    rank: 2
                    is_default: false
                    created_at: '2024-01-01T00:00:00Z'
                  - id: uuid-3
                    account_id: account-uuid
                    name: Partner Meeting
                    color: '#8B5CF6'
                    rank: 3
                    is_default: false
                    created_at: '2024-01-01T00:00:00Z'
                  - id: uuid-4
                    account_id: account-uuid
                    name: Term Sheet
                    color: '#10B981'
                    rank: 4
                    is_default: false
                    created_at: '2024-01-01T00:00:00Z'
                  - id: uuid-5
                    account_id: account-uuid
                    name: Passed
                    color: '#EF4444'
                    rank: 5
                    is_default: false
                    created_at: '2024-01-01T00:00:00Z'
                authType: api_key
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    post:
      operationId: createCompanyStatus
      summary: Create a company status
      description: |
        Create a new deal flow status/stage. If rank is not provided,
        the status is added at the end of the pipeline.
      tags:
        - Company Statuses
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyStatusCreate'
            example:
              name: IC Review
              color: '#F59E0B'
              description: Awaiting Investment Committee review
      responses:
        '200':
          description: Status created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/CompanyStatus'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /accounts/{account_id}/company-statuses/{status_id}:
    patch:
      operationId: updateCompanyStatus
      summary: Update a company status
      description: Update the name, color, rank, or other properties of a status.
      tags:
        - Company Statuses
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: status_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyStatusUpdate'
      responses:
        '200':
          description: Status updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/CompanyStatus'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      operationId: deleteCompanyStatus
      summary: Delete a company status
      description: |
        Delete a deal flow status. Companies with this status will have
        their status set to null.
      tags:
        - Company Statuses
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: status_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Status deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      message:
                        type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /accounts/{account_id}/company-status-counts:
    get:
      operationId: getCompanyStatusCounts
      summary: Get company counts by status
      description: |
        Retrieve pre-computed counts of companies grouped by their deal flow status.
        Useful for dashboard displays and pipeline visualization.
      tags:
        - Company Statuses
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: Status counts retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyStatusCountsResponse'
              example:
                success: true
                data:
                  total: 150
                  no_status: 12
                  statuses:
                    - status_id: uuid-1
                      status_name: Initial Review
                      count: 45
                    - status_id: uuid-2
                      status_name: Due Diligence
                      count: 23
                    - status_id: uuid-3
                      status_name: Partner Meeting
                      count: 15
                    - status_id: uuid-4
                      status_name: Term Sheet
                      count: 8
                    - status_id: uuid-5
                      status_name: Passed
                      count: 47
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /accounts/{account_id}/company-settings:
    get:
      operationId: getCompanySettings
      summary: Get company field settings
      description: |
        Retrieve custom field configurations for companies in this account.
        These define additional metadata fields that can be tracked.
      tags:
        - Company Settings
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: Company settings retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      fields:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                            field_type:
                              type: string
                              enum:
                                - text
                                - number
                                - boolean
                                - select
                                - date
                                - url
                            options:
                              type: array
                              items:
                                type: string
                              description: For select fields, the available options
                            required:
                              type: boolean
                            order:
                              type: integer
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /accounts/{account_id}/dashboard:
    get:
      operationId: getDashboard
      summary: Get dashboard data
      description: |
        Retrieve aggregated dashboard data including statistics,
        pipeline summary, recent activity, and charts.

        This endpoint is optimized for performance and returns
        pre-computed metrics where possible.
      tags:
        - Dashboard
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: activity_limit
          in: query
          required: false
          description: Maximum number of recent activity items to return
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
        - name: chart_days
          in: query
          required: false
          description: Number of days to include in chart data
          schema:
            type: integer
            minimum: 7
            maximum: 365
            default: 30
      responses:
        '200':
          description: Dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
              example:
                success: true
                data:
                  stats:
                    total_companies: 150
                    companies_this_month: 12
                    active_deals: 45
                    meetings_this_week: 8
                  pipeline_summary:
                    - status_id: uuid-1
                      status_name: Initial Review
                      color: '#6B7280'
                      count: 45
                    - status_id: uuid-2
                      status_name: Due Diligence
                      color: '#3B82F6'
                      count: 23
                    - status_id: uuid-3
                      status_name: Partner Meeting
                      color: '#8B5CF6'
                      count: 15
                  recent_activity:
                    - id: activity-1
                      type: company_added
                      description: TechStartup Inc was added to pipeline
                      company_id: company-uuid
                      company_name: TechStartup Inc
                      created_at: '2024-01-20T14:30:00Z'
                    - id: activity-2
                      type: status_changed
                      description: AI Platform moved to Due Diligence
                      company_id: company-uuid-2
                      company_name: AI Platform
                      created_at: '2024-01-20T10:15:00Z'
                  charts:
                    companies_over_time:
                      - date: '2024-01-20'
                        count: 3
                      - date: '2024-01-19'
                        count: 5
                      - date: '2024-01-18'
                        count: 2
                    source_breakdown:
                      - source: email
                        count: 45
                      - source: referral
                        count: 38
                      - source: form
                        count: 25
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /accounts/{account_id}/members:
    get:
      operationId: listMembers
      summary: List team members
      description: |
        Retrieve all members and pending invitations for the account/team.
      tags:
        - Team Members
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: Team members and invitations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembersResponse'
              example:
                success: true
                data:
                  members:
                    - id: membership-uuid-1
                      user_id: user-uuid-1
                      account_id: account-uuid
                      role: owner
                      name: John Doe
                      email: john@example.com
                      picture_url: https://example.com/avatars/john.jpg
                      created_at: '2023-06-01T00:00:00Z'
                    - id: membership-uuid-2
                      user_id: user-uuid-2
                      account_id: account-uuid
                      role: admin
                      name: Jane Smith
                      email: jane@example.com
                      picture_url: null
                      created_at: '2023-08-15T00:00:00Z'
                  invitations:
                    - id: invite-uuid-1
                      account_id: account-uuid
                      email: newmember@example.com
                      role: member
                      invited_by: user-uuid-1
                      expires_at: '2024-02-01T00:00:00Z'
                      created_at: '2024-01-15T00:00:00Z'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /accounts/{account_id}/bulk-upload:
    post:
      operationId: bulkUpload
      summary: Bulk upload companies
      description: |
        Import multiple companies at once from a CSV file or JSON array.
        Supports mapping columns/fields to company properties.
      tags:
        - Companies
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: CSV file with company data
                mapping:
                  type: string
                  description: |
                    JSON string mapping CSV columns to company fields.
                    Example: {"Company Name": "name", "Website": "website"}
                default_status_id:
                  type: string
                  format: uuid
                  description: Default status for imported companies
          application/json:
            schema:
              type: object
              properties:
                companies:
                  type: array
                  items:
                    $ref: '#/components/schemas/CompanyCreate'
                  maxItems: 500
                default_status_id:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Bulk upload results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      imported_count:
                        type: integer
                        description: Number of companies successfully imported
                      failed_count:
                        type: integer
                        description: Number of companies that failed to import
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            row:
                              type: integer
                            error:
                              type: string
                        description: Details about failed imports
              example:
                success: true
                data:
                  imported_count: 48
                  failed_count: 2
                  errors:
                    - row: 15
                      error: Invalid website URL format
                    - row: 32
                      error: Duplicate company name
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /accounts/{account_id}/ai-credits/checkout:
    post:
      operationId: createAiCreditsCheckout
      summary: Purchase AI credits
      description: |
        Create a checkout session to purchase additional AI credits
        for features like pitch deck analysis and email processing.
      tags:
        - Dashboard
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - credits_package
              properties:
                credits_package:
                  type: string
                  enum:
                    - starter
                    - professional
                    - enterprise
                  description: |
                    Credit package to purchase:
                    - `starter`: 100 credits
                    - `professional`: 500 credits
                    - `enterprise`: 2000 credits
                success_url:
                  type: string
                  format: uri
                  description: URL to redirect after successful payment
                cancel_url:
                  type: string
                  format: uri
                  description: URL to redirect if payment is cancelled
      responses:
        '200':
          description: Checkout session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      checkout_url:
                        type: string
                        format: uri
                        description: URL to redirect user to for payment
                      session_id:
                        type: string
                        description: Stripe checkout session ID
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /accounts/{account_id}/emails:
    get:
      operationId: listEmails
      summary: List emails
      description: |
        Retrieve paginated emails associated with your account.
        Email content is excluded from list queries for performance;
        use the single email endpoint to get full content.
      tags:
        - Emails
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortOrderParam'
        - $ref: '#/components/parameters/SearchParam'
        - name: sort_by
          in: query
          schema:
            type: string
            enum:
              - created_at
              - updated_at
            default: created_at
        - name: from_email
          in: query
          required: false
          description: Filter by sender email address
          schema:
            type: string
            format: email
        - name: company_id
          in: query
          required: false
          description: Filter emails linked to a specific company
          schema:
            type: string
            format: uuid
        - name: processed
          in: query
          required: false
          description: Filter by processed status
          schema:
            type: boolean
        - name: tag
          in: query
          required: false
          description: Filter by tag
          schema:
            type: string
      responses:
        '200':
          description: List of emails
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailListResponse'
              example:
                success: true
                data:
                  emails:
                    - id: email-uuid-1
                      account_id: account-uuid
                      from_email: founder@startup.com
                      subject: Investment Opportunity - AI Platform
                      content_preview: Hi, I wanted to reach out about our Series A...
                      tags:
                        - warm-intro
                      processed: false
                      attachments_count: 1
                      created_at: '2024-01-15T10:30:00Z'
                  pagination:
                    page: 1
                    limit: 20
                    total: 150
                    total_pages: 8
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    post:
      operationId: createEmail
      summary: Create an email record
      description: |
        Manually create an email record. Useful for importing emails
        from external sources or syncing from email integrations.
      tags:
        - Emails
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailCreate'
            example:
              from_email: founder@newstartup.com
              subject: Introduction - NewStartup seeking Series A
              content: |-
                Hi,

                I'm the founder of NewStartup, and I wanted to reach out...
              company_ids:
                - company-uuid-1
              tags:
                - inbound
                - series-a
      responses:
        '200':
          description: Email created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      email:
                        $ref: '#/components/schemas/Email'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /accounts/{account_id}/emails/{email_id}:
    get:
      operationId: getEmail
      summary: Get email details
      description: |
        Retrieve a specific email with full content and attachments.
      tags:
        - Emails
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: email_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Email details with full content
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      email:
                        $ref: '#/components/schemas/EmailDetail'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    patch:
      operationId: updateEmail
      summary: Update an email
      description: |
        Update email properties like tags, processed status, or linked companies.
      tags:
        - Emails
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: email_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                tags:
                  type: array
                  items:
                    type: string
                processed:
                  type: boolean
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Email updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      email:
                        $ref: '#/components/schemas/Email'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      operationId: deleteEmail
      summary: Delete an email
      description: Permanently delete an email and its attachments.
      tags:
        - Emails
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: email_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Email deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      message:
                        type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /accounts/{account_id}/emails/{email_id}/attachments:
    get:
      operationId: listEmailAttachments
      summary: List email attachments
      description: Get all attachments for an email with download URLs.
      tags:
        - Emails
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: email_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of attachments
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      attachments:
                        type: array
                        items:
                          $ref: '#/components/schemas/EmailAttachment'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /accounts/{account_id}/emails/tags:
    get:
      operationId: listEmailTags
      summary: List available email tags
      description: |
        Get all tags used in emails for this account, with usage counts.
      tags:
        - Emails
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: List of tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTagsResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /emails/{email_id}/analyze:
    post:
      operationId: analyzeEmail
      summary: Analyze email with AI
      description: |
        Use AI to analyze email content and extract structured information
        such as company details, contact info, and intent classification.

        **Note**: This operation consumes AI credits.
      tags:
        - Emails
      parameters:
        - name: email_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Analysis completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      intent:
                        type: string
                        enum:
                          - pitch
                          - intro_request
                          - follow_up
                          - meeting_request
                          - other
                      company_info:
                        type: object
                        properties:
                          name:
                            type: string
                          website:
                            type: string
                          description:
                            type: string
                      contact_info:
                        type: object
                        properties:
                          name:
                            type: string
                          email:
                            type: string
                          role:
                            type: string
                      suggested_actions:
                        type: array
                        items:
                          type: string
                      confidence:
                        type: number
                        format: float
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /emails/{email_id}/companies:
    post:
      operationId: linkEmailToCompanies
      summary: Link email to companies
      description: Associate an email with one or more companies.
      tags:
        - Emails
      parameters:
        - name: email_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - company_ids
              properties:
                company_ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                  minItems: 1
      responses:
        '200':
          description: Email linked to companies
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      email:
                        $ref: '#/components/schemas/Email'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /accounts/{account_id}/form-submissions:
    get:
      operationId: listFormSubmissions
      summary: List form submissions
      description: |
        Retrieve paginated form submissions from integrated platforms
        (Tally, Specter, etc.) or manually created submissions.
      tags:
        - Form Submissions
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortOrderParam'
        - name: sort_by
          in: query
          schema:
            type: string
            enum:
              - created_at
              - updated_at
            default: created_at
        - name: company_id
          in: query
          required: false
          description: Filter submissions linked to a specific company
          schema:
            type: string
            format: uuid
        - name: processed
          in: query
          required: false
          description: Filter by processed status
          schema:
            type: boolean
        - name: integration_type
          in: query
          required: false
          description: Filter by source integration
          schema:
            type: string
            enum:
              - tally
              - specter
              - manual
      responses:
        '200':
          description: List of form submissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormSubmissionListResponse'
              example:
                success: true
                data:
                  submissions:
                    - id: sub-uuid-1
                      account_id: account-uuid
                      integration_type: tally
                      data:
                        - key: company_name
                          label: Company Name
                          type: INPUT_TEXT
                          value: TechStartup Inc
                        - key: email
                          label: Email
                          type: INPUT_EMAIL
                          value: founder@techstartup.com
                      processed: false
                      created_at: '2024-01-15T10:30:00Z'
                  pagination:
                    page: 1
                    limit: 10
                    total: 25
                    total_pages: 3
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    post:
      operationId: createFormSubmission
      summary: Create a form submission
      description: |
        Manually create a form submission record. Useful for importing
        data from external sources or creating test data.
      tags:
        - Form Submissions
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormSubmissionCreate'
            example:
              data:
                - key: company_name
                  label: Company Name
                  type: INPUT_TEXT
                  value: New Venture Co
                - key: website
                  label: Website
                  type: INPUT_LINK
                  value: https://newventure.co
                - key: pitch_deck
                  label: Pitch Deck
                  type: FILE_UPLOAD
                  value:
                    - id: file-1
                      name: pitch.pdf
                      url: https://storage.example.com/pitch.pdf
                      size: 2048000
      responses:
        '200':
          description: Submission created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      submission:
                        $ref: '#/components/schemas/FormSubmission'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /accounts/{account_id}/form-submissions/{submission_id}:
    get:
      operationId: getFormSubmission
      summary: Get form submission details
      description: Retrieve a specific form submission with all field data.
      tags:
        - Form Submissions
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: submission_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Submission details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      submission:
                        $ref: '#/components/schemas/FormSubmission'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    patch:
      operationId: updateFormSubmission
      summary: Update a form submission
      description: |
        Update a form submission. Commonly used to mark as processed
        or link to a company.
      tags:
        - Form Submissions
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: submission_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_id:
                  type: string
                  format: uuid
                  nullable: true
                processed:
                  type: boolean
                metadata:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: Submission updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      submission:
                        $ref: '#/components/schemas/FormSubmission'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      operationId: deleteFormSubmission
      summary: Delete a form submission
      description: Permanently delete a form submission.
      tags:
        - Form Submissions
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: submission_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Submission deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      message:
                        type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /accounts/{account_id}/form-submissions/{submission_id}/convert:
    post:
      operationId: convertFormSubmissionToCompany
      summary: Convert submission to company
      description: |
        Create a new company from a form submission, automatically
        mapping form fields to company properties.
      tags:
        - Form Submissions
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: submission_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                field_mapping:
                  type: object
                  description: Custom field mapping (form field key -> company field)
                  additionalProperties:
                    type: string
                company_status_id:
                  type: string
                  format: uuid
                  description: Initial status for the new company
      responses:
        '200':
          description: Company created from submission
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      company:
                        $ref: '#/components/schemas/Company'
                      submission:
                        $ref: '#/components/schemas/FormSubmission'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /accounts/{account_id}/integrations:
    get:
      operationId: listIntegrations
      summary: List integrations
      description: |
        Retrieve all configured integrations for an account.
        Integration secrets/keys are never returned in responses.
      tags:
        - Integrations
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: List of integrations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationListResponse'
              example:
                success: true
                data:
                  integrations:
                    - id: int-uuid-1
                      account_id: account-uuid
                      integration_type: tally
                      is_active: true
                      has_auth: true
                      last_sync_at: '2024-01-20T10:00:00Z'
                      created_at: '2024-01-01T00:00:00Z'
                    - id: int-uuid-2
                      account_id: account-uuid
                      integration_type: specter
                      is_active: false
                      has_auth: true
                      last_sync_at: null
                      created_at: '2024-01-05T00:00:00Z'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    post:
      operationId: createIntegration
      summary: Create or update an integration
      description: |
        Configure a new integration or update an existing one.
        If an integration of the specified type already exists, it will be updated.

        ## Tally Integration

        Tally forms can send webhooks to Roulette when submissions are received.
        Provide the signing secret from your Tally webhook settings.

        Webhook URL: `https://app.useroulette.com/api/v1/accounts/{account_id}/form-submissions/tally`

        ## Specter Integration

        Connect to Specter for additional data enrichment.
        Provide your Specter API key.
      tags:
        - Integrations
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationCreate'
            examples:
              tally:
                summary: Configure Tally integration
                value:
                  integration_type: tally
                  secret: whsec_your_tally_signing_secret
              specter:
                summary: Configure Specter integration
                value:
                  integration_type: specter
                  api_key: sk_your_specter_api_key
      responses:
        '200':
          description: Integration configured
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      integration:
                        $ref: '#/components/schemas/Integration'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /accounts/{account_id}/integrations/{integration_id}:
    get:
      operationId: getIntegration
      summary: Get integration details
      description: |
        Retrieve details about a specific integration.
        Secrets/keys are never returned.
      tags:
        - Integrations
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: integration_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Integration details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      integration:
                        $ref: '#/components/schemas/Integration'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    patch:
      operationId: updateIntegration
      summary: Update an integration
      description: |
        Update integration settings including credentials and active status.
      tags:
        - Integrations
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: integration_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IntegrationUpdate'
      responses:
        '200':
          description: Integration updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      integration:
                        $ref: '#/components/schemas/Integration'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      operationId: deleteIntegration
      summary: Delete an integration
      description: |
        Remove an integration and its stored credentials.
        This will stop any webhooks or data syncing from this integration.
      tags:
        - Integrations
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: integration_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Integration deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      message:
                        type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /accounts/{account_id}/integrations/{integration_id}/test:
    post:
      operationId: testIntegration
      summary: Test integration connection
      description: |
        Test that the integration is properly configured and can connect
        to the external service.
      tags:
        - Integrations
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: integration_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Connection test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      connected:
                        type: boolean
                        description: Whether the connection was successful
                      message:
                        type: string
                        description: Status message or error details
              example:
                success: true
                data:
                  connected: true
                  message: Successfully connected to Specter API
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /accounts/{account_id}/investor-dashboard:
    get:
      operationId: getInvestorDashboard
      summary: Get investor dashboard
      description: |
        Retrieve the investor dashboard configuration for an account.
        The investor dashboard is a public-facing page that can be shared
        with LPs to show portfolio performance and updates.
      tags:
        - Investor Dashboard
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: Investor dashboard details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      dashboard:
                        $ref: '#/components/schemas/InvestorDashboard'
              example:
                success: true
                data:
                  dashboard:
                    id: dash-uuid
                    account_id: account-uuid
                    is_active: true
                    password_protected: true
                    short_code: inv-abc123
                    dashboard_url: https://app.useroulette.com/investor/inv-abc123
                    shared_permissions:
                      - view_portfolio
                      - view_metrics
                    access_count: 156
                    last_accessed_at: '2024-01-20T14:30:00Z'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: No investor dashboard configured
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      dashboard:
                        type: 'null'
    post:
      operationId: createInvestorDashboard
      summary: Create investor dashboard
      description: |
        Create an investor dashboard for the account. Only one dashboard
        can exist per account.
      tags:
        - Investor Dashboard
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestorDashboardCreate'
            example:
              password: lp-access-2024
              shared_permissions:
                - view_portfolio
                - view_metrics
                - view_updates
              is_active: true
      responses:
        '200':
          description: Dashboard created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      dashboard:
                        $ref: '#/components/schemas/InvestorDashboard'
        '400':
          description: Dashboard already exists or invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    patch:
      operationId: updateInvestorDashboard
      summary: Update investor dashboard
      description: |
        Update investor dashboard settings including password,
        permissions, and active status.
      tags:
        - Investor Dashboard
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestorDashboardUpdate'
            examples:
              deactivate:
                summary: Deactivate dashboard
                value:
                  is_active: false
              updatePermissions:
                summary: Update shared permissions
                value:
                  shared_permissions:
                    - view_portfolio
                    - view_metrics
                    - download_reports
              removePassword:
                summary: Remove password protection
                value:
                  password: null
      responses:
        '200':
          description: Dashboard updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      dashboard:
                        $ref: '#/components/schemas/InvestorDashboard'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      operationId: deleteInvestorDashboard
      summary: Delete investor dashboard
      description: |
        Delete the investor dashboard. The dashboard URL will immediately
        stop working.
      tags:
        - Investor Dashboard
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      responses:
        '200':
          description: Dashboard deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      message:
                        type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /accounts/{account_id}/investor-dashboard/access-logs:
    get:
      operationId: getInvestorDashboardAccessLogs
      summary: Get dashboard access logs
      description: |
        Retrieve access logs showing who viewed the investor dashboard,
        when, and from where.
      tags:
        - Investor Dashboard
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Access logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      access_logs:
                        type: array
                        items:
                          $ref: '#/components/schemas/InvestorDashboardAccessLog'
                      pagination:
                        $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /accounts/{account_id}/meeting-minutes:
    get:
      operationId: listMeetingMinutes
      summary: List meeting minutes
      description: |
        Retrieve paginated meeting minutes/notes associated with your account.
      tags:
        - Meeting Minutes
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortOrderParam'
        - $ref: '#/components/parameters/SearchParam'
        - name: sort_by
          in: query
          schema:
            type: string
            enum:
              - created_at
              - updated_at
              - meeting_date
            default: created_at
        - name: company_id
          in: query
          required: false
          description: Filter by linked company
          schema:
            type: string
            format: uuid
        - name: processed
          in: query
          required: false
          description: Filter by processed status
          schema:
            type: boolean
      responses:
        '200':
          description: List of meeting minutes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetingMinutesListResponse'
              example:
                success: true
                data:
                  meeting_minutes:
                    - id: mm-uuid-1
                      account_id: account-uuid
                      company_id: company-uuid
                      title: Initial Call - TechStartup Inc
                      meeting_date: '2024-01-15T14:00:00Z'
                      attendees:
                        - John Doe
                        - Jane Smith
                      processed: true
                      created_at: '2024-01-15T15:30:00Z'
                  pagination:
                    page: 1
                    limit: 20
                    total: 45
                    total_pages: 3
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    post:
      operationId: createMeetingMinutes
      summary: Create meeting minutes
      description: |
        Create a new meeting minutes record. Supports markdown formatting
        in the content field.
      tags:
        - Meeting Minutes
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingMinutesCreate'
            example:
              title: Due Diligence Call - AI Platform
              content: |
                ## Summary
                Deep dive into technical architecture and team background.

                ## Key Takeaways
                - Strong technical team with ML expertise
                - Clear product-market fit in enterprise segment
                - Requesting $5M Series A

                ## Next Steps
                - Schedule follow-up with CTO
                - Request customer references
              company_id: company-uuid
              meeting_date: '2024-01-20T10:00:00Z'
              attendees:
                - Partner A
                - Associate B
                - Founder CEO
                - Founder CTO
      responses:
        '200':
          description: Meeting minutes created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      meeting_minutes:
                        $ref: '#/components/schemas/MeetingMinutes'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /accounts/{account_id}/meeting-minutes/{meeting_minutes_id}:
    get:
      operationId: getMeetingMinutes
      summary: Get meeting minutes details
      description: Retrieve a specific meeting minutes record with full content.
      tags:
        - Meeting Minutes
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: meeting_minutes_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Meeting minutes details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      meeting_minutes:
                        $ref: '#/components/schemas/MeetingMinutes'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    patch:
      operationId: updateMeetingMinutes
      summary: Update meeting minutes
      description: Update meeting minutes content or metadata.
      tags:
        - Meeting Minutes
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: meeting_minutes_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeetingMinutesUpdate'
      responses:
        '200':
          description: Meeting minutes updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      meeting_minutes:
                        $ref: '#/components/schemas/MeetingMinutes'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      operationId: deleteMeetingMinutes
      summary: Delete meeting minutes
      description: Permanently delete a meeting minutes record.
      tags:
        - Meeting Minutes
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: meeting_minutes_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Meeting minutes deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      message:
                        type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /accounts/{account_id}/shared-links:
    get:
      operationId: listSharedLinks
      summary: List shared links
      description: |
        Retrieve all shared links for an account. Shared links allow you to
        share company portfolios with external parties (LPs, co-investors, etc.)
        with granular access control.
      tags:
        - Shared Links
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/SortOrderParam'
        - name: sort_by
          in: query
          schema:
            type: string
            enum:
              - created_at
              - updated_at
              - name
            default: created_at
        - name: is_active
          in: query
          required: false
          description: Filter by active status
          schema:
            type: boolean
      responses:
        '200':
          description: List of shared links
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedLinkListResponse'
              example:
                success: true
                data:
                  links:
                    - id: link-uuid-1
                      account_id: account-uuid
                      name: Q1 2024 Portfolio
                      short_code: abc123xy
                      short_url: https://app.useroulette.com/s/abc123xy
                      password_protected: true
                      is_active: true
                      view_count: 42
                      created_at: '2024-01-01T00:00:00Z'
                  pagination:
                    page: 1
                    limit: 20
                    total: 5
                    total_pages: 1
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    post:
      operationId: createSharedLink
      summary: Create a shared link
      description: |
        Create a new shared link with selected companies. You can configure
        password protection, expiration, and per-company access permissions.
      tags:
        - Shared Links
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedLinkCreate'
            example:
              name: Series A Portfolio for ABC Capital
              description: Selection of our top Series A companies for review
              password: secure123
              expires_at: '2024-06-01T00:00:00Z'
              companies:
                - company_id: company-uuid-1
                  permissions: view_deck
                - company_id: company-uuid-2
                  permissions: view
                - company_id: company-uuid-3
                  permissions: full
      responses:
        '200':
          description: Shared link created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      link:
                        $ref: '#/components/schemas/SharedLink'
              example:
                success: true
                data:
                  link:
                    id: new-link-uuid
                    short_code: xyz789ab
                    short_url: https://app.useroulette.com/s/xyz789ab
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
  /accounts/{account_id}/shared-links/{id}:
    get:
      operationId: getSharedLink
      summary: Get shared link details
      description: |
        Retrieve detailed information about a shared link including
        the list of included companies and their permissions.
      tags:
        - Shared Links
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Shared link details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      link:
                        $ref: '#/components/schemas/SharedLink'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    patch:
      operationId: updateSharedLink
      summary: Update a shared link
      description: |
        Update shared link properties including name, password, expiration,
        active status, and the list of included companies.
      tags:
        - Shared Links
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SharedLinkUpdate'
            examples:
              deactivate:
                summary: Deactivate a link
                value:
                  is_active: false
              updateCompanies:
                summary: Update included companies
                value:
                  companies:
                    - company_id: company-uuid-1
                      permissions: full
                    - company_id: company-uuid-4
                      permissions: view_deck
              removePassword:
                summary: Remove password protection
                value:
                  password: null
      responses:
        '200':
          description: Shared link updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      link:
                        $ref: '#/components/schemas/SharedLink'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      operationId: deleteSharedLink
      summary: Delete a shared link
      description: |
        Permanently delete a shared link. The link will immediately
        stop working and cannot be recovered.
      tags:
        - Shared Links
      parameters:
        - $ref: '#/components/parameters/AccountIdParam'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Shared link deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
[...]
